<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Utilizando Vue Js</title>
</head>

<body>
    <div class="container">
        <div id="app" class="col-md-12 col-sm-12 mt-4 p-4">
            <div :class="[alerta, centrar]">
                <h1> {{message}} </h1>
            </div>
            <primer></primer>
            <div>
                <form action="" method="POST" class="form-horizontal" role="form">
                               
                    <div class="form-group">
                        <input type="text" v-model="nuevafruta" name="nombre" id="nombre" placeholder="Ingrese nombre" >
                    </div>   
                    <div class="form-group">
                        <input type="text" v-model.number="nuevacantidad" name="nombre" id="nombre" placeholder="Ingrese cantidad" >
                    </div>   
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" @click="agregarFruta" class="btn btn-primary">Agregar</button>
                        </div>
                    </div>
            </form>
            
            
            </div>
            <div>
                
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Stock</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>                       
                        <tr v-for="(fruta, index) in frutas" :key="index">
                            <td>{{index}}</td>
                            <td>{{fruta.nombre}}</td>
                            <td><input class="center" type="text" name="cantidad" v-model.number="fruta.cantidad" id="cantidad"></td>
                            <td v-if="fruta.cantidad===0">Sin stock</td>
                            <td v-else>con stock</td>
                            <td>
                            <button class="btn btn-primary" @click="fruta.cantidad++">Incrementar</button>
                            <button type="button" class="btn btn-warning" @click="editar(index)">Editar</button>
                            <button type="button" class="btn btn-danger" @click="eliminar(index)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div m-3>
                     <span mx-4> TOTAL: {{sumar}} </span>
                </div>
                <div>
                    <button-counter></button-counter>
                </div>
               
            
        </div>
    </div>

    <script src="script.js">
       
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    
</body>

</html>